---
title: HOMEPAGE!
---

{{> head}}
    {{> nav}}

    <main role="main" tabindex="-1">
        <h1>This is the "index.html" page</h1>
        <p>It is generarted from index.hbs</p>
    </main>

{{> footer}}
